<template>
  <div class="q-pa-md">
      <q-card class="my-card">
      <q-card-section>
        <div class="text-h6 iran-sans">{{$t('Agents')}}</div>
      </q-card-section>
 <q-markup-table>
        <thead>
        <tr>
          <th v-for="item in label" :key="item.id" class="iran-sans text-right">{{item.label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td v-for="(list, index) in store.firsLine" :key="index">
      {{ list.name }}
    </td>
        </tr>
        <tr>
          <td  v-for="(item,index) in storeOne.twoLine" :key="index" class="iran-sans">
          {{item.name}}
          </td>
      
        </tr>
        <tr>
          <td   class="iran-sans">3</td>
           <td   class="iran-sans">3</td>
            <td   class="iran-sans">3</td>
             <td   class="iran-sans">3</td>
              <td   class="iran-sans">3</td>
        </tr>
        <tr>
          <td   class="iran-sans">4</td>
          <td   class="iran-sans">4</td>
          <td   class="iran-sans">4</td>
          <td   class="iran-sans">4</td>
          <td   class="iran-sans">4</td>
        </tr>
        <tr>
          <td   class="iran-sans">5</td>
          <td   class="iran-sans">5</td>
          <td   class="iran-sans">5</td>
          <td   class="iran-sans">5</td>
          <td   class="iran-sans">5</td>
        </tr>
        </tbody>
      </q-markup-table>
    </q-card>
  </div>
</template>
<script  lang="ts" src="./TableDashboard.ts">

</script>

<style></style>