<template>
  <div>
    <div>
      <q-fab id="change-icon"  color="blue-5 " text-color="white" icon="fa fa-tv" direction="left">
        <template v-slot:label="{ opened }">
          <div class="iran-sans text-white" :class="{ 'example-fab-animate--hover': opened !== true }">
            {{ opened !== true ? '' : 'داشبوردمدیریتی' }}
          </div>
        </template>
      </q-fab>
    </div>
  </div>
</template>
<script src="./SidebarAvajang.ts">
</script>

