<template>
  <q-expansion-item
    class="iran-sans"
    icon="fa fa-book"
    :label="$t('TadbirReports')"
  >
    <q-list class="q-pl-lg">
      <q-item v-for="item in TadbirReports" :key="item.id" :to="item.to"  active-class="q-item-no-link-highlighting">
        <q-item-section avatar>
          .
        </q-item-section>
        <q-item-section>
          <q-item-label class="iran-sans"> {{item.lable}}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-expansion-item>
</template>
<script src="./TadbirReports.ts">
</script>
<style scoped>
</style>
