<template>
  <div class="row q-col-gutter-sm q-py-sm">
    <div v-for="item in cardTitle" :key="item.id" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <q-card :class="item.background" class="flex column items-center justify-center">
        <q-card-section>
          <q-avatar :icon="item.icon" color="white" size="60px" >
          </q-avatar>
        </q-card-section>
        <q-card-section class="text-subtitle2  iran-sans">{{item.content}}</q-card-section>
        <q-card-section class="text-subtitle2  iran-sans">{{item.price}}</q-card-section>
      </q-card>
    </div>
  </div>
</template>
<script src="./CardDashboardOne.ts">

</script>
