
<template>
  <div dir="rtl">
    <q-layout view="hHh lpR fff" >
      <q-header elevated >
        <q-toolbar>
          <q-fab
            flat
            dense
            round
            @click="toggleLeftDrawer"
           icon="menu"
            aria-label="Menu"
          />
          <q-toolbar-title class="iran-sans text-subtitle2" > {{$t('Avajang')}}
          </q-toolbar-title>
          <q-space />
          <div class="q-gutter-sm row items-center no-wrap">
            <sidebar-avajang />
            <DropdownAvajang/>
          </div>
        </q-toolbar>
      </q-header>
      <div>
        <q-drawer
          v-model="toggleLeftDrawerOpen"
          side="right"
          class="bg-primary text-white"
        >
          <q-list>
            <q-item to="/" active-class="q-item-no-link-highlighting ">
              <q-item-section avatar>
                <q-icon name="home" />
              </q-item-section>
              <q-item-section>
                <q-item-label class="iran-sans">
                  {{$t('Dashboard')}}
                </q-item-label>
              </q-item-section>
            </q-item>
          <ProductManagement/>
          <WarehouseManagement/>
          <SaleManagement/>
          <BasketManagement/>
          <FinancialManagement/>
          <BusinessPartyManagement/>
          <CreditManagement/>
          <UsersManagement/>
          <ContentManagement/>
          <TadbirReports/>
          </q-list>
        </q-drawer>
      </div>
      
      <q-page-container class="bg-grey-2">
        <router-view />
      </q-page-container>
   
    </q-layout>
       
  </div>
</template>
<script src="./MainLayout.ts">
</script>
