<template>
<div class="flex flex-center q-mt-sm">
<div class="column flex-center ">
    
   <div v-for="(post, index) in store.posts" :key="post">
      {{ index }}- {{ post.title }}
    </div>
  </div>
 </div>
</template>

<script lang="ts" src="./items.ts">

</script>

<style>

</style>