<template>
  <div class="q-pa-md">
    <q-btn-dropdown icon="person" class="iran-sans" color="primary" label="پوریا اشکوروکیلی">
      <q-list>
        <q-item v-for="item in dropdown" :key="item.id" clickable v-close-popup >
          <q-item-section>
            <q-item-label class="flex justify-end items-center">
              <span class="q-mr-sm iran-sans">{{item.content}}</span>
              <q-icon size="23px" :name="item.icon"></q-icon>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>
<script src="./DropdownAvajang.ts">

</script>


