<template>
  <div className="q-pa-lg flex flex-center">
    <q-pagination
      v-model="current"
      :max="5"
      input
    />
  </div>
</template>
<script src="./NumberPagination.ts">
</script>
