<template>
  <q-item-section avatar>
    <q-icon name="home" />
  </q-item-section>
  <q-item-section>
    <q-item-label class="iran-sans">
      {{$t('Dashboard')}}
    </q-item-label>
  </q-item-section>
</template>

<script src="./Dashboard.ts">

</script>

<style scoped>

</style>
