<template>
  <q-expansion-item
    class="iran-sans"
    icon="fa fa-dollar-sign"
    :label="$t('SaleManagemnet')"
  >
    <q-list class="q-pl-lg">
      <q-item v-for="items in SaleManagement" :key="items.id" :to="items.to" active-class="q-item-no-link-highlighting">
        <q-item-section  avatar>
          <q-icon :name="items.icon"></q-icon>
        </q-item-section>
        <q-item-section>
          <q-item-label class="iran-sans"> {{items.lable}}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-expansion-item>
</template>

<script src="./SaleManagement.ts">

</script>

<style scoped>

</style>
