// app global css in SCSS form
/* app global css */

/* app global css */

::-webkit-scrollbar {
  display: none;
}
.q-item:hover{
  background-color: #007571
}

#change-icon{
  .q-fab__icon-holder{
    right: 5px;
  }
}


