<template>
  <q-toolbar >
    <q-toolbar-title class="text-black q-mt-lg iran-sans text-subtitle1">COPYRIGHT @ 2022
      <a  href="https://www.avajang.com" class="q-mr-xs text-black">{{$t('Avajang')}}</a>
    </q-toolbar-title>
  </q-toolbar>
</template>
<script src="./FooterSite.ts">

</script>

